body {
    background-color: rgb(203, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
}

header, footer, aside, article {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 10px 0;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

header {
    background-color: rgb(164, 17, 164);
    font-size: 2rem;
}

main {
    background-color: rgb(71, 192, 89);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
}

article {
    background-color: rgb(221, 44, 109);
    margin: 0px 0;
    border-radius: 10px;
    width: 95%;
    height: 5rem;
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.aside1 {
    background-color: rgb(17, 70, 116);
    font-size: 2rem;
}

.aside2 {
    background-color: rgb(62, 157, 225);
    font-size: 2rem;
}     


footer {
    background-color: rgb(219, 114, 28);
    font-size: 2rem;
}